<!-- <div class="bg-img" style="background-image: url('././assets/face chart.png')"> -->
  <nav class="navi navbar navbar-expand-lg navbar-light">
      <div class="d-flex flex-grow-1">
          <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
          <!-- <a class="navbar-brand d-none d-lg-inline-block" href="/">
              <img class="logo" src="{{site.baseurl}}/assets/Obinna logo.png" href="/" alt="logo" />
          </a>
          <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="/">
              <img class="logo" src="{{site.baseurl}}/assets/Obinna logo.png" alt="logo" />
          </a> -->
          <div class="w-100 text-center">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>
      </div>
      <div class="collapse navbar-collapse flex-grow-1 justify-content-around" id="myNavbar">
          <ul class="navbar-nav flex-nowrap text-center">
              <li class="nav-item">
                  <a href="/" class="nav-link m-2 menu-item nav-active">Home</a>
              </li>
              <li class="nav-item">
                  <a href="/about_me.html" class="nav-link m-2 menu-item">About</a>
              </li>
              <li class="nav-item">
                <a class="" href="/">
                  <div class="home-button"></div>
                </a>
              <li class="nav-item">
                  <a href="/now.html" class="nav-link m-2 menu-item">Now Page</a>
              </li>
              <li class="nav-item">
                  <a href="/blog.html" class="nav-link m-2 menu-item">Writing</a>
              </li>
              <!-- <li class="nav-item">
                  <a href="/contact.html" class="nav-link m-2 menu-item">Contact</a>
              </li> -->
          </ul>
      </div>
  </nav>
<!-- </div> -->
