@media (min-width: 768px) {

.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}

nav {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 24px;
}

.logo {
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
  padding-left: 0;
}

.nav-link {
  transition: 0.2s;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}

.nav-link:hover {
  color: #000080;
  font-weight: 600;
}

h1 {
  text-align: center;
  font-family: Roboto, Sans-serif;
  font-size: 70px;
}

h2 {
  text-align: center;
  font-family: Roboto,Sans-serif;
  font-size: 60px;
  padding: 5%;
}

h3 {
  text-align: center;
  font-family: Roboto,Sans-serif;
  padding: 2%;
}

body {
  font-size: 20px;
  font-family: Roboto, sans-serif;;
}

ol {
  margin-left: 18%;
  margin-right: 22%;
  text-align: justify;
}

.p-container {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin-left: 20%;
  margin-right: 20%;
}

.page-title {
  font-family: Roboto,Sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.page-header {
  text-align: center;
  font-family: Roboto,Sans-serif;
  font-size: 50px;
  color: #000080;
  font-weight: 300;
  padding: 5%;
}

.box-header {
  font-family: Roboto,Sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding-left: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  color: #000080;
}

.banner-img {
  width: 100%;
  border-radius: 0px 0px 30% 30%;
}

.page-image-1 {
  text-align: center;
  width: 100%;

}

.page-image-2 {
  text-align: center;
  height: 50%;
  width: 50%;

}

.flex-container {
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    justify-content: center;
    align-items: center;
}

.flex-child {
    flex: 1;
    font-size: 20px;
    font-weight: 300;
}

.flex-container-v {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;
    justify-content: center;
    align-items: center;
}

.flex-child-v {
    flex: 1;
    font-size: 20px;
    font-weight: 300;
}

.flex-child:first-child {
    margin-right: 20px;
}

.flex-2 {
  padding: 5%;
}

.flex-2-1 {
  padding: none;
}

.flex-3 {
  padding: 5%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
}

.footer {
  border-radius: 0 0 0px 0px;
  background-color: #000080; /* Black Gray */
  color: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
}
